@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<h2>Add an Author to Existing Book: @Html.DisplayFor(model => model.Title)</h2>
<hr>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId", " ")

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to book details", "Details", new { id = Model.BookId })</p>