@{
    Layout = "_Layout";
}

@model Library.Models.Book

<h1>Add a Title</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)

    @Html.Label("Select author")
    @Html.DropDownList("AuthorId", " ")

    <input type="submit" value="Add new book title" class="btn btn-default">
}
<p>@Html.ActionLink("Show all books", "Index")</p>