@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Edit</h2>
<hr>
<h4>Edit this book: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  <br>

  @Html.LabelFor(model => model.CheckedOut)
  @Html.CheckBoxFor(model => model.CheckedOut)

  <br>

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId", "-No Update-")

  @Html.HiddenFor(model => model.DueDate)

  @Html.HiddenFor(model => model.Overdue)

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Show all books", "Index", "Books")</p>
<p>@Html.ActionLink("Library Home", "Index", "Home")</p>