@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Author

<h2>Add a Book to Existing Author: @Html.DisplayFor(model => model.AuthorName)</h2>
<hr>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.Label("Select Book")
  @Html.DropDownList("BookId")

  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to author details", "Details", new { id = Model.AuthorId })</p>