@{
    Layout = "_Layout";
}

@model Library.Models.Author

<h2>Edit</h2>
<hr>
<h4>Edit this category: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.LabelFor(model => model.AuthorName)
    @Html.EditorFor(model => model.AuthorName)
    <br>
    @Html.Label("Select Book")
    @Html.DropDownList("BookId", "-No Update-")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Authors", "Index")</p>